.hentry {
	margin: 0 0 1.5em;
	padding: 1rem;
}

.sticky {
	display: block;

	@media #{$medium-up} {

		.entry-title {
			position: relative;

			a:before {
				font-family: 'Genericons';
				content: '\f308';
				line-height: $font__line-height-headings;
				position: absolute;
				top: 2px;
				left: -40px;
				opacity: 0.2;
			}
		}
	}
}

.entry-title {
	margin-bottom: 0;
	font-size: 3rem;

	a,
	a:visited,
	a:before {
		color: $color__main-text;
	}

	a:hover,
	a:visited:hover {
		color: $color__link;
	}
}

.entry-meta {
	text-align: center;
	font-size: 90%;
	color: $color__secondary-text;

	.posted-date,
	.posted-author,
	.comments-number {
		margin-right: 1rem;

		@media #{$small-only} {
			display: block;
			margin-right: 0;
		}

		&:before {
			position: relative;
			top: 3px;
			font-family: 'genericons';
			font-size: 18px;
			padding-right: 2px;
		}
	}

	.posted-date:before {
		content: '\f303';
		top: 4px;
	}

	.posted-author:before {
		content: '\f304';
	}

	.comments-number:before {
		content: '\f300';
	}
}

@media #{$small-only} {

	.post-navigation {
		font-size: 90%;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.entry-content {
	margin-bottom: 1em;
}

.entry-header {
	text-align: center;
}

.entry-footer {
	font-size: 85%;
	color: $color__secondary-text;

	.entry-footer-right {
		float: right;
	}

	.cat-links,
	.tag-links {
		display: block;
	}
}

.paging-navigation {
	clear: both;
	margin: 0 0 1.5em;
}

.featured-image {
	position: relative;
	margin-bottom: 65px;

	img {
		border-radius: 8px;
	}

	.avatar-container {
		position: absolute;
		width: 114px;
		height: 114px;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: -57px;
		border: 6px solid $color__bg;
		border-radius: 100%;

		.avatar {
			border-radius: 100%;
		}
	}
}
