$site-footer-background: #3787da;
$site-footer-text-color: #fff;
$site-footer-anchor-color: $site-footer-text-color;
$site-footer-anchor-color-hover: $site-footer-text-color;

.site-footer {
	background-color: $site-footer-background;
	color: $site-footer-text-color;
	padding: 25px 0;

	&,
	ul {
		font-size: rem-calc(16);
		font-weight: 600;
	}

	a {
		color: $site-footer-anchor-color;

		&:hover {
			color: $site-footer-anchor-color-hover;
		}
	}
}

.site-footer-inner {
	@extend .row;

	max-width: 1100px;
	margin: 0 auto;
}

.footer-widget-area {
	overflow: hidden;
	padding: 2.25rem 1.25rem 0;

	&.columns-1 {
		.footer-widget {
			@media #{$large-up} {
				width: 100%;
			}
		}
	}

	&.columns-2 {
		.footer-widget {
			@media #{$large-up} {
				width: 50%;
			}
		}
	}

	&.columns-3 {
		.footer-widget {
			@media #{$large-up} {
				width: 33.3333333333%;
			}
		}
	}

	&.columns-4 {
		.footer-widget {
			@media #{$large-up} {
				width: 25%;
			}
		}
	}

	&.columns-5 {
		.footer-widget {
			@media #{$large-up} {
				width: 20%;
			}
		}
	}

	.footer-widget {
		padding: 0;

		.widget {
			color: $site-footer-text-color;
		}

		@media #{$large-up} {
			padding: 0 15px;
			float: left;
		}

		&:first-child {
			@media #{$large-up} {
				padding-right: 15px;
				padding-left: 0;
			}
		}

		&:last-child {
			@media #{$large-up} {
				padding-left: 15px;
				padding-right: 0;
			}
		}

		.widget-title {
			color: $site-footer-text-color;
			font-weight: bold;
			border-bottom: 2px solid #fff;
			padding-bottom: 10px;
			font-size: rem-calc(24);
			display: inline-block;
		}

		.widget {
			margin-bottom: 2.25em;
			margin-bottom: 2.25rem;

			li, a {
				border: none;
			}

			li a {
				padding: 0;
			}
		}

		.widget_calendar #calendar_wrap {
			padding-right: 0;
		}

		.widget_recent_entries {
			li {
				padding: 0.5em 0;
			}

			a {
				color: #c2dffd;
				font-size: rem-calc(18);
			}

			.post-date {
				font-size: rem-calc(14);
				margin-top: 5px;
			}
		}
	}
}

$site-footer-info-background: rgba(#78ae3e, 1);
$site-footer-info-text-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;
$site-footer-info-anchor-color-hover: contrast-color($site-footer-info-background, #222, #fff, 50%) !default;

.site-info-wrapper {
	background: $site-footer-info-background;
	border-style: solid;
	border-width: 10px 0 0;
	border-image: url("assets/images/border.svg") 10 0 repeat;
}

.site-info {
	@extend .row;

	font-family: "Raleway", $body-font-family;
	font-size: 12px;
	text-transform: uppercase;
	padding: 53px 0;
	color: $site-footer-info-text-color;
	line-height: 1;
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;

	@media #{$large-up} {
		text-align: left;
	}

	a {
		color: $site-footer-info-anchor-color;

		&:hover {
			color: $site-footer-info-anchor-color-hover;
		}
	}

	.site-info-text {
		@extend .columns;

		@extend .large-9;
	}

	.social-menu {
		@extend .columns;

		@extend .large-3;

		margin-top: 2em;

		@media #{$large-up} {
			margin-top: 0;
			text-align: right;
		}

		a {
			padding: 7px;
			height: 44px;
			width: 44px;
			border-radius: 5px;
			border: 2px solid #fff;
			color: #fff;

			&:before {
				font-size: 27px;
			}
		}
	}
}

.footer-menu {
	text-transform: none;

	@extend .clearfix;

	ul {
		list-style: none;
		margin: 0 0 1em;

		@media #{$large-up} {
			margin: 0;
		}

		li {
			display: inline-block;

			@media #{$large-up} {
				margin-right: 25px;
			}
		}

		a {
			font-size: rem-calc(17.11);
			font-weight: bold;
		}
	}
}
