$menu-font-family: "Raleway", $header-font-family !default;

.main-navigation-container {
	position: relative;
	overflow: hidden;

	&:before,
	&:after {
		background-color: #78ae3e;
		content: "";
		display: block;
		position: relative;
		height: 10px;
		width: 110%;
		left: -5%;
		mask: url(assets/images/border.svg) center / cover repeat;
	}

	.main-navigation-wrapper {
		@extend .row;
	}

	.main-navigation {
		@extend .columns;
		@extend .large-9;
	}

	.social-menu {
		@extend .columns;
		width: auto;
		float: right;

		li {
			padding: 20px 0 20px 10px;
		}
	}
}

.menu-toggle {
	@extend .columns;
	padding: 0.875em 1em;
	cursor: pointer;
	width: auto;

	div {
		background: $primary-color;
		height: 4px;
		margin: 6px;
		width: 30px;
	}
}

.main-navigation {
	display: none;
	font-family: $menu-font-family;
	position: absolute;
	z-index: 100;

	ul {
		margin: 0;
		list-style: none;
	}
	a {
		color: rgba(#2e80ba, 1);
		display: block;
		padding: 1em;
		padding: 1rem;
	}

	.current-menu-item > a,
	a:hover {
		color: rgba(#2e80ba, 0.8);
	}

	.sub-menu a {
		padding-left: 2em;
	}

	.sub-menu .sub-menu a {
		padding-left: 3em;
	}

}

@media #{$medium-up} {
	.main-navigation-container {
		overflow: inherit;

		.social-menu {
			display: none;
		}
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: block;
		position: relative;
		z-index: auto;
		font-size: emCalc(20);
		font-size: rem-calc(20);

		li {
			float: left;

			&.menu-item-has-children:hover > .sub-menu {
				display: block;
			}
		}

		.sub-menu {
			display: none;
			position: absolute;
			width: 250px;
			z-index: 100;
			background-color: #fff;

			li {
				float: none;
				position: relative;

				&.menu-item-has-children > a:after {
					width: 0;
					height: 0;
					border-bottom: 7px solid transparent;
					border-top: 7px solid transparent;
					border-left: 7px solid $primary-color;
					font-size: 0;
					line-height: 0;
					content: "";
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.sub-menu {
				left: 100%;
				top: 0;
			}

			a,
			.sub-menu a {
				padding-left: 1em;

				&:hover {
					background-color: rgba(0,0,0,0.1);
				}
			}
		}
	}
}

@media #{$large-up} {
	.main-navigation-container .social-menu {
		display: block;
	}
}

.navigation {
	@extend .row;

	.nav-links{
		@extend .large-12;
		@extend .columns;
		margin-bottom: 1.5em;
		margin-bottom: 1.5rem;
		font-size: 20px;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
