// Fonts
$primary-font:   "Raleway";
$secondary-font: "Architects Daughter";
$heading-font:   "Architects Daughter";

// Colors
$header-textcolor:        #fca903;
$background-color:        #ffffff;
$header-background-color: #ffffff;
$menu-background-color:   #78ae3e;
$footer-background-color: #3787da;
$tagline-text-color:      #6f6f6f;
$link-color:              #3787da;
$main-text-color:         #404040;
$secondary-text-color:    #686868;
