// Fonts
$font__heading:   "Architects Daughter", sans-serif;
$font__main:      "Raleway", sans-serif;
$font__secondary: "Raleway", sans-serif;

// Text
$color__site-title-text:    #fca903; // header_textcolor
$color__tagline-text:       #686868;
$color__hero-text:          #ffffff;
$color__menu-text:          #ffffff;
$color__heading-text:       #353535;
$color__main-text:          #252525;
$color__secondary-text:     #686868;
$color__footer-widget-text: #252525;
$color__footer-text:        #757575;

// Links & Buttons
$color__link:        #54ccbe;
$color__button_bg:   #b5345f;
$color__button-text: #ffffff;

// Backgrounds
$color__bg:               #ffffff;
$color__hero-bg:          #3f3244;
$color__menu-bg:          #b5345f;
$color__footer-widget-bg: #3f3244;
$color__footer-bg:        #ffffff;
