.main-navigation-container {
	background-color: $color__menu-bg;

	&:before,
	&:after {
		content: "";
		clear: both;
		display: block;
		position: relative;
		height: 10px;
		width: 100%;
		mask: url("assets/images/border.svg") (center / cover) repeat;
		background-color: $color__menu-text;
	}

	.social-menu {
		float: right;
		padding: 20px;

		a {
			background-color: transparent;
			color: $color__menu-text;
		}
	}
}

.main-navigation-wrapper {
	@include container($container-size);
}

.main-navigation {
	font-size: 1rem;
	font-weight: 500;
	display: none;

	&.open {
		display: block;
	}

	@media #{$medium-up} {
		display: block;
		float: left;
	}

	.menu-main-menu-container {
		@media #{$medium-up} {
			width: auto;
			text-align: center;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		a {
			color: $color__menu-text;
			display: block;
			padding: 1.5em .75em;
			border-bottom: 2px solid rgba(0, 0, 0, 0.02);

			@media #{$medium-up} {
				border-bottom: none;
			}
		}

		ul {
			z-index: 99999;

			@media #{$medium-up} {
				background-color: $color__menu-bg;
			}

			a {
				padding: 1em .75em;
				text-align: center;

				@media #{$medium-up} {
					text-align: left;
					color: white;
				}
			}

			@media #{$medium-up} {
				position: absolute;
				left: -999em;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	@media #{$medium-up} {

		li {
			position: relative;
			display: inline-block;
		}

		a {
			text-decoration: none;
			padding: .25em .75em;
			color: $color__menu-text;
			text-transform: uppercase;

			&:hover,
			&:visited:hover {
				background-color: rgba(0, 0, 0, 0.1);
				color: $color__menu-text;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current_page_parent > a,
	.current-menu-ancestor > a {
		font-weight: 700;
	}

	.sub-menu .menu-item-has-children > a::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		right: 10px;
		top: 50%;
		border-bottom: 7px solid transparent;
		border-top: 7px solid transparent;
		border-left: 7px solid $color__menu-text;
		transform: translateY(-50%);
		display: none;

		@media #{$medium-up} {
			display: inline;
		}
	}
}

body.no-max-width .main-navigation {
	max-width: none;
}

.menu-toggle {
	display: inline-block;
	margin: 0 auto;
	width: 4rem;
	padding: 0.6rem;
	cursor: pointer;
	position: relative;
	z-index: 9999;
	margin-top: 10px;
	margin-left: 10px;

	@media #{$medium-up} {
		display: none;
	}

	div {
		background-color: $color__menu-text;
		height: 0.25rem;
		margin: 0.43rem;
		transform: rotate(0deg);
		transition: .15s ease-in-out;
		transform-origin: left center;
	}

	&.open div {
		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
